.btn {
  display: inline-flex;
  padding: 0.5em 2em;
  font-size: 1em;
}
.primary {
  background-color: lightcoral;
  color: white;
}
.secondary {
  background-color: lightgreen;
  color: white;
}
